.localdrawoverlay-bar {
  background: #fff;
}

.localdrawoverlay-button {
  display: flex !important;
  justify-content: center;
}

.localdrawoverlay-button.disabled {
  background-color: #ccc;
  cursor: default;
}
.localdrawoverlay-button.disabled:hover {
  background-color: #ccc;
}

.localdrawoverlay-color-button {
  align-self: center;
  border: 2px solid white;
  width: 20px;
  height: 20px;
}

.selected .localdrawoverlay-color-button {
  border-color:black;
}

.localdrawoverlay-delete-button {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center middle;
  background-image: url('images/tool-trash.png');
}

.localdrawoverlay-legend-box {
  background-color: #fff;
  opacity:0.7;
}

.localdrawoverlay-legend-entry {
  display: block;
  margin: 0.5em;
}
.localdrawoverlay-legend-color {
  background-color: #fff;
  border: medium solid #fff;
  width: 4em;
  height: 2.5em;
  margin-right: 1em;
  display: inline-block;
  vertical-align: middle;
}

.localdrawoverlay-legend-statictext {
  display: inline-block;
  width: 15em;
  vertical-align: middle;
  font-weight: bold;
}

.localdrawoverlay-legend-statictext .empty {
  color: #888;
  font-style: italic;
  font-weight: normal;
}

.localdrawoverlay-legend-statictext-hidden {
  display: none;
}

.localdrawoverlay-legend-textfield {
  display: inline-block;
  width: 15em;
  vertical-align: middle;
}

.localdrawoverlay-legend-textfield-hidden {
  display: none;
}
